<nav class="navbar">
  <div class="logo">
  </div>
  <ul class="uls">
    <li><a href="#" class="elec">Нүүр</a></li>
    <li><a href="#" class="elec">Хичээл</a></li>
    <li><a href="#" class="elec">Бидний тухай</a></li>
    <li><a href="#" class="elec">Wiki</a></li>
    <li><a href="#" class="elec">Бүртгүүлэх</a></li>
    <li><a href="/login" class="elec">Нэвтрэх</a></li>
  </ul>
</nav>
