    <div class="contian">
      <div class="slider">
      </div>
      <div class="card">
        <h1>Sample1</h1>
      </div>
      <div class="card">
        <h1>Sample2</h1>
      </div>
      <div class="card">
        <h1>Sample3</h1>
      </div>
      <div class="card">
        <h1>Sample4</h1>
      </div>
      <div class="card">
        <h1>Sample5</h1>
      </div>
      <div class="card">
        <h1>Sample6</h1>
      </div>
    </div>
