    <div class="contian">
        <div class="slider">
        </div>
        <!-- <div class="sidebar">
          <div class="sidenews">
          </div>
          <div class="sidenews">
          </div>
          <div class="sidenews">
          </div>
        </div> -->

      <div class="news">
        <% posts.forEach((post)=>{ %>
        <div class="card">
          <div class="bgImage">
            <img src="<%= post.img %>" alt="baigal"/>
          </div>
          <div class="description">
            <h3><%= post.Title %></h3>
            <p><%= post.description %></p>
          </div>
        </div>
        <% }); %>
      </div>

    </div>
