<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MazeNet</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  </head>
  <body>
    <%- include nav %>
    <%- include header %>

  </body>
</html>
