<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MazeNet</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  </head>
  <body>
    <div id="backImg">
    </div>
    <div class="login">
      <h1>Login</h1>
      <form action="/login" method="post">
        <p> User Name:<br> <input type="text" name="username" value="" placeholder="User name require"></p>
        <p> Password:<br> <input type="password" name="username" value="" placeholder="User password require"></p>
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/js/navEffect.js"></script>
</html>
