<nav>
  <div id="logo">
  </div>
  <ul>
    <li><a href="#">Нүүр</a></li>
    <li><a href="#">Хичээл</a></li>
    <li><a href="#">Бидний тухай</a></li>
    <li><a href="#">Wiki</a></li>
    <li><a href="#">Бүртгүүлэх</a></li>
    <li><a href="#">Нэвтрэх</a></li>
  </ul>
</nav>
